.cards {
    margin:0 auto;
    max-width: 1920px;
    padding-top:90px;
    padding-right:  2px;
    padding-left:2px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap:40px;
    flex-wrap: wrap;
}
.title {
    margin-top:71px;
    margin-bottom:50px;
    color: #000;
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
@media (min-width:320px ) and (max-width:425px) {
    .title {
        font-size: 20px;
    }
}