.container {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:10px;
    gap:109px;

}

.title {
    margin-top:71px;
    margin-bottom:50px;
    color: #000;
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

@media (min-width:320px ) and (max-width:425px) {
    .title {
        font-size: 20px;
    }
}
@media (min-width:1440px) and (max-width:1441px) {
    .wrapper {
        flex-direction: row;
        flex-wrap: nowrap;
        gap:20px;
        justify-content: center;
    }   
}